#pricing {
  width: 90rem;
  height: 77.125rem;
  background: url(../assets/pricing-background.png) center/contain no-repeat;
  z-index: 2;
  position: relative;
  gap: 8.630625rem;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 59rem;
    height: 59rem;
    background: #000f1f;
    filter: blur(284px);
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    border-radius: 2rem;
  }

  & h2 {
    text-align: center;
    font: var(--title-sm);
    color: var(--text-title);
  }

  & .container-pricings {
    position: relative;
    max-width: max-content;
    max-height: 26rem;
    gap: 1rem;
    &::after {
      content: "";
      position: absolute;
      width: 944px;
      height: 944px;
      left: calc(50% - 944px / 2);
      top: calc(50% - 944px / 2 - 44px);

      background: #000f1f;
      filter: blur(284px);
      z-index: -2;
    }

    & .price {
      width: 18rem;
      height: 26rem;
      padding: 2rem 2rem 1.75rem;
      border-radius: 1.5rem;
      background-color: var(--shape-base);
      border: 1px solid var(--shape-stroke);
      justify-content: space-between;
      transition: all 1s;

      &:hover {
        transform: translateY(-12px);
        box-shadow: 0px 0px 66px rgba(53, 139, 185, 0.1);
        background-color: var(--shape-hover);
        border: 1px solid var(--shape-hover);
      }

      & .header {
        & h3 {
          font: var(--title-xs);
          color: var(--blue-light);
          margin-bottom: 1.5rem;
        }

        & p:nth-child(2) {
          font: var(--title-md);
          color: var(--text-title);
          margin-bottom: 0.5rem;
          & span:nth-child(2) {
            font: var(--title-xs);
          }
        }

        & p:nth-child(3) {
          font: var(--body-sm);
          color: var(--text-label);
        }
      }

      & .detalls {
        gap: 0.75rem;
        & .detail {
          display: flex;
          & img {
            width: 0.87875rem;
            height: 0.879375rem;
          }
          & span {
            font: var(--body-xs);
            color: var(--text-body);
          }
        }

        & button {
          width: 14rem;
          height: 2.5rem;
          border-radius: 0.5rem;
          margin-top: 1.75rem;
        }
      }
    }

    & .Semiannual {
      position: relative;
      background-color: var(--shape-hover);
      &::after {
        position: absolute;
        content: "";
        top: -3.1875rem;
        left: 2.8125rem;
        background: url(../assets/icon/bunny.svg) no-repeat;
        width: 2.815625rem;
        height: 3.120625rem;
      }
      & .header {
        & h3 {
          color: var(--pink-light);
          display: flex;
          justify-content: space-between;
          align-items: center;

          & span:nth-child(2) {
            font: var(--tag);
            color: var(--text-body);
            background-color: var(--shape-stroke);
            padding: 0.5625rem 1.25rem;
            border-radius: 62.4375px;
          }
        }
      }
    }

    & .monthly {
      position: absolute;
      top: 0;
      left: 0;
      animation: move-monthly 2s forwards;
      z-index: 0;
      s &::after {
        position: absolute;
        content: "";
        top: -27px;
        left: -35px;
        background: url(../assets/icon/star-two.svg) no-repeat;
        width: 2.06125rem;
        height: 3.394375rem;
      }
    }

    & .Annual {
      animation: move-annual 2s forwards;
      position: absolute;
      z-index: -1;
      &::after {
        position: absolute;
        content: "";
        transform: rotate(60deg);
        bottom: -50px;
        right: -30px;
        background: url(../assets/icon/star-two.svg) no-repeat;
        width: 2.06125rem;
        height: 3.394375rem;
      }
    }

    &:has(.price.monthly:hover) .Semiannual,
    &:has(.price.Annual:hover) .Semiannual {
      background-color: var(--shape-base);
      border: 1px solid var(--shape-stroke);
    }
  }
}

@keyframes move-monthly {
  0% {
    transform: translate(0, 0) rotate(-8deg);
  }
  100% {
    transform: translate(-15.625rem, 3.125rem) rotate(-8deg);
  }
}

@keyframes move-annual {
  0% {
    transform: translate(0, 0) rotate(8deg);
  }
  100% {
    transform: translate(15.625rem, 3.125rem) rotate(8deg);
  }
}
