#pricing {
  width: 90rem;
  height: 77.125rem;
  background: url(../assets/pricing-background.png) center/contain no-repeat;
  z-index: 2;
  position: relative;
  gap: 8.630625rem;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 59rem;
    height: 59rem;
    background: #000f1f;
    filter: blur(284px);
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    border-radius: 2rem;
  }

  & h2 {
    text-align: center;
    font: var(--title-sm);
    color: var(--text-title);
  }

  & .container-pricings {
    position: relative;
    max-width: 18rem;
    max-height: 26rem;
    & .price {
      width: 18rem;
      height: 26rem;
      padding: 2rem 2rem 1.75rem;
      border-radius: 1.5rem;
      background-color: var(--shape-base);
      border: 1px solid var(--shape-stroke);
    }

    & .Semiannual {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        top: -3.1875rem;
        left: 2.8125rem;
        background: url(../assets/icon/bunny.svg) no-repeat;
        width: 2.815625rem;
        height: 3.120625rem;
      }
    }

    & .monthly {
      z-index: -1;
      position: absolute;
      transition-duration: 1s;
    }
    & .Annual {
      z-index: -1;
      position: absolute;
      transition-duration: 1s;
    }

    &:hover .monthly {
      transform: rotate(-8deg);
      position: absolute;
      top: 50px;
      left: -250px;
      &::after {
        position: absolute;
        content: "";
        top: -27px;
        left: -35px;
        background: url(../assets/icon/star-two.svg) no-repeat;
        width: 2.06125rem;
        height: 3.394375rem;
      }
    }
    &:hover .Annual {
      transform: rotate(8deg);
      position: absolute;
      top: 50px;
      left: 250px;
      &::after {
        position: absolute;
        content: "";
        transform: rotate(60deg);
        bottom: -50px;
        right: -30px;
        background: url(../assets/icon/star-two.svg) no-repeat;
        width: 2.06125rem;
        height: 3.394375rem;
      }
    }
  }
}
