.max-width {
  min-width: min(70rem, 90vw);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.alignment {
  justify-content: center;
  align-items: center;
}

.alignment-align-items {
  align-items: center;
}